/*IN GENERAL*/

html {
    font-size: 14px;
    position: relative;
    min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin-bottom: 60px;
    background-color: #222428;
    margin: 0px;
    font-family: "Outfit", monospace;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #309eb8; /* Change the link color */
    text-decoration: none; /* Remove the underline */
}

a:hover {
    color: #309eb8; /* Change the link color on hover */
    text-decoration: underline; /* Add an underline on hover */
}

.subtext {
    color: darkgray
}

.text-primary {
    color: #3565af;
}

/*LOADER*/

.load-content {
    display: none;
}


/*BACKGROUNDS*/
.bg-light {
    background-color: #f5f5f5 !important;
}

.bg-dark {
    background-color: #222428 !important;
}

.bg-dark-secondary {
    background-color: #33353D !important;
}

.bg-glass {
    background: rgba(55, 55, 63, 0.4); /* Semi-transparent background color */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the glass effect */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a lifted look */
    color: white; /* Text color for readability */
    padding: 20px; /* Padding inside the element */
}
/*SCROLLBAR*/
/* General scrollbar area */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
    background: #222428;
}

/* The scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #505050; /* Slightly darker on hover */
}


/*BTNS*/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary {
    background-color: #3565af; /* Set the background color of the button */
    color: #ffffff; /* Set the text color of the button to white */
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active:focus {
    background-color: #2a4b8c; /* Change the background color on hover */
}

.btn-success,.form-check-input:checked {
    background-color: #309eb8; /* Set the background color of the button */
    color: #ffffff; /* Set the text color of the button to white */
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active:focus, .form-check-input:active {
    background-color: #288399; /* Change the background color on hover */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn:focus, .btn:active {
    outline: 10px #3565af !important;
    box-shadow: none !important;
}

.btn-info, .btn-info.active, .btn-info:active {
    background-color: #309eb8; /* Set the background color of the button */
}
/*FORMS*/

.form-control:focus, .form-check-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.clickable{
    cursor:pointer;
}