/*IN GENERAL*/

html {
    font-size: 14px;
    position: relative;
    min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin-bottom: 60px;
    background-color: #222428;
    margin: 0px;
    font-family: "Outfit", monospace;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #309eb8; /* Change the link color */
    text-decoration: none; /* Remove the underline */
}

a:hover {
    color: #309eb8; /* Change the link color on hover */
    text-decoration: underline; /* Add an underline on hover */
}

.subtext {
    color: darkgray
}

/*LOADER*/

.load-content {
    display: none;
}


/*BACKGROUNDS*/
.bg-dark {
    background-color: #222428 !important;
}

.bg-dark-secondary {
    background-color: #37373f !important;
}

/*SCROLLBAR*/
/* General scrollbar area */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
    background: #222428;
}

/* The scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #505050; /* Slightly darker on hover */
}


/*BTNS*/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary {
    background-color: #3565af; /* Set the background color of the button */
    color: #ffffff; /* Set the text color of the button to white */
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active:focus {
    background-color: #2a4b8c; /* Change the background color on hover */
}

.btn-success,.form-check-input:checked {
    background-color: #309eb8; /* Set the background color of the button */
    color: #ffffff; /* Set the text color of the button to white */
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active:focus, .form-check-input:active {
    background-color: #288399; /* Change the background color on hover */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn:focus, .btn:active {
    outline: 10px #3565af !important;
    box-shadow: none !important;
}

/*FORMS*/

.form-control:focus, .form-check-input:focus {
    outline: none !important;
    box-shadow: none !important;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
