@{
    ViewData["Title"] = "Module 3 - Chart";
}

<div class="p-4" style="border-radius: 10px;">
    <h2 style="font-size: 45px;" class="ms-1 mb-3 text-light">Orders Chart</h2>
    <div style="height: 500px;">
        <canvas id="myChart"></canvas>
    </div>
</div>
