@media (max-width: 992px) {
    /*.table thead th:nth-child(1),*/ /* Id column */
    /*.table tbody td:nth-child(1),*/ /* Id column */
    .table-users thead th:nth-child(4), /* Email column */
    .table-users tbody td:nth-child(4), /* Email column */
    .table-users thead th:nth-child(5), /* Contact column */
    .table-users tbody td:nth-child(5) { /* Contact column */
        display: none;
    }
}

@media (max-width: 768px) {
    .table-users thead th:nth-child(3), /* Date column */
    .table-users tbody td:nth-child(3) { /* Date column */
        display: none;
    }
}



/*DRIVERS TABLE*/
@media (max-width: 992px) {
    /*.table thead th:nth-child(1),*/ /* Id column */
    /*.table tbody td:nth-child(1),*/ /* Id column */
    .table-drivers thead th:nth-child(5), /* Date Modified column */
    .table-drivers tbody td:nth-child(5) { /* Date Modified column */
        display: none;
    }
}

@media (max-width: 768px) {
    /*.table-drivers thead th:nth-child(1),*/ /* Pic column */
    /*.table-drivers tbody td:nth-child(1),*/ /* Pic column */
    .table-drivers thead th:nth-child(4), /* Date Created column */
    .table-drivers tbody td:nth-child(4), /* Date Created column */
    .table-drivers thead th:nth-child(2), /* ID column */
    .table-drivers tbody td:nth-child(2) { /* ID column */
        display: none;
    }
}

.img-col {
    width: auto;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.blurred {
    filter: blur(5px);
}

.clear {
    filter: blur(0);
}

.position-relative {
    position: relative;
}

    .position-relative:hover .overlay {
        opacity: 1;
    }


/*
.overlay {
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100;
    transition: opacity 0.3s ease;

}*/
/* Icon square border */
.icon-border {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
}

#statusFilter {
    max-width: 140px;
    width: 140px;
}

#searchInput {
    min-width: 150px;
    width: 200px;
}

.status span {
    min-width: 75px;
    height: 20px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}

.status-pending span {
    background-color: #fab86a;
}

.status-onduty span {
    background-color: #fab86a;
}

.status-active span {
    background-color: #a5f6c6;
}

.status-denied span {
    background-color: #fb7a7a;
}

.status-delay span {
    background-color: darkgray;
}

.status-label {
    color: black;
    font-weight: 500 !important;
}

.sortable:hover {
    cursor: pointer;
}

.table-container {
    min-height: 500px;
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
    width:100%;
}

.table {
    width: 100%;
}

th {
    white-space: nowrap;
}


td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table {
    margin-bottom: 0px;
    overflow-y: auto;
}

.table-responsive {
    justify-content: center;
    height:660px;
    border-radius: 10px;
    display: flex;
    max-width: 1200px;
    min-width:fit-content;
}

.table thead tr th {
    font-size: 17px;
    font-weight: 300;
}

.table > thead > tr > th {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: gray;
    font-weight: 300;
}

.table > tbody > tr > td {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: gray;
    font-weight: 300;
    font-size: 14px;
}

.table .td-actions .btn {
    margin: 0;
    padding: 5px;
}

.pagination {
    margin: 1rem 0;
}

.pagination li {
    cursor: pointer;
}

.pagination .active a {
    background-color: #007bff;
    color: white;
}

.pagination a {
    color: #007bff;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}