<section class="d-flex justify-content-center" id="hero_page">
    <div id="loadingSpinner" class="m-auto">
        @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml")
    </div>
    <div class="load-content">
        <div class="row m-auto text-center h-100 align-items-center text-light col-12">
            <div class="col-12 d-flex align-items-center justify-content-center mt-4">
                <div id="moduleDeniedStatus">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column col-10">
                            <h1>CUSTOMER HOME</h1>
                            @using (Html.BeginForm("Logout", "Login", FormMethod.Post))
                            {
                                <li><button class="text-decoration-none dropdown-item" type="submit">Logout</button></li>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>