<!-- Add Order Modal -->
<div class="modal fade" id="addOrderModal" tabindex="-1" aria-labelledby="addOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark-secondary p-3" id="modal-content-addOrder">
            <!-- TITLE -->
            <div class="modal-header text-light border-0">
                <h5 class="modal-title" id="addOrderModalLabel">Add Order</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModaladdOrder()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- add Order FORM -->
            <div class="modal-body text-light">
                <!-- CAR -->
                <div class="form-group mb-3">
                    <label for="addlistingCar" class="font-weight-bold mb-1">Car</label>
                    <!-- CHANGE THIS TO CAR -->
                    <select class="form-control" id="addlistingCar">
                        <option value="" disabled selected>Select car</option>
                    </select>
                </div>
                <!-- USER -->
                <div class="form-group mb-3">
                    <label for="addlistingUser" class="font-weight-bold mb-1">User</label>
                    <!-- CHANGE THIS TO CAR -->
                    <select class="form-control" id="addlistingUser">
                        <option value="" disabled selected>Select User</option>
                    </select>
                </div>
                <!-- ORDER START -->
                <div class="form-group mb-3">
                    <label for="addOrderStartDate" class="font-weight-bold mb-1">Order Start Date</label>
                    <input class="form-control flatpickr-orderstart" id="addOrderStartDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" placeholder="Enter Order's availability start date'">
                </div>
                <!-- ORDER END -->
                <div class="form-group mb-3">
                    <label for="addListingEndDate" class="font-weight-bold mb-1">Order End Date</label>
                    <input class="form-control flatpickr-orderend" id="addListingEndDate" placeholder="Enter Listing's availability start date">
                </div>
                <!-- PAYMENT METHOD -->
                <div class="form-group mb-3">
                    <label for="addlistingPaymentMethod" class="font-weight-bold mb-1">Payment Method</label>
                    <!-- CHANGE THIS TO PAYMENT METHOD -->
                    <select class="form-control" id="addlistingPaymentMethod">
                        <option value="" disabled selected>Select Payment Method</option>
                    </select>
                </div>
                <!-- PAYMENT STATUS -->
                <div class="form-group mb-3">
                    <label for="addlistingPaymentStatus" class="font-weight-bold mb-1">Payment Status</label>
                    <!-- CHANGE THIS TO PAYMENT STATUS -->
                    <select class="form-control" id="addlistingPaymentStatus">
                        <option value="" disabled selected>Select Payment Status</option>
                    </select>
                </div>
                <!-- PROOF OF PAYMENT -->
                <div class="form-group mb-3">
                    <label for="addOrderProofOfPayment" class="font-weight-bold mb-1">Proof Of Payment</label>
                    <input type="file" class="form-control" id="addOrderProofOfPayment" placeholder="Enter driver's license">
                </div>
            </div>
            <!-- ACTION BUTTONS -->
            <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalAddOrder()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="openNextModal('4')">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Order Compute Modal -->
<div class="modal fade" id="addOrderCostModal" tabindex="-1" aria-labelledby="addOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark-secondary p-3" id="modal-content-addOrder">
            <!-- TITLE -->
            <div class="modal-header text-light border-0">
                <h5 class="modal-title" id="addOrderModalLabel">Suggested cost computation</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModaladdOrder()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- add Order FORM -->
            <div class="modal-body text-light">
                <div class="form-group mb-3">
                    <div class="text-left font-weight-bold mb-1"><strong>Hourly [₱<span id="hourlyCost"></span> * <span id="HoursCalc"></span> Hrs]: </strong></div>
                    <div class="text-right">Cost: <span id="HourCost"></span></div>
                </div>
                <div class="form-group mb-3">
                    <div class="text-left font-weight-bold mb-1"><strong>Daily [₱<span id="dailyCost"></span> * <span id="DaysCalc"></span> Days]: </strong></div>
                    <div class="text-right">Cost: <span id="DayCost"></span></div>
                </div>
                <div class="form-group mb-3">
                    <div class="text-left font-weight-bold mb-1"><strong>Weekly [₱<span id="weeklyCost"></span> * <span id="WeeksCalc"></span> Weeks]: </strong></div>
                    <div class="text-right">Cost: <span id="WeekCost"></span></div>
                </div>
                <div class="form-group mb-3">
                    <div class="text-left font-weight-bold mb-1"><strong>Monthly [₱<span id="monthlyCost"></span> * <span id="MonthsCalc"></span> Months]: </strong></div>
                    <div class="text-right">Cost: <span id="MonthCost"></span></div>
                </div>

                <!-- CUSTOM COST -->
                <div class="form-group mb-3">
                    <label for="addOrderTotalCostToo" class="font-weight-bold mb-1">Suggested Total Cost (PHP)</label>
                    <input type="number" class="form-control" id="addOrderTotalCostToo" value="0" step="100">
                </div>
                <!-- EXTRA FEES -->
                <div class="form-group mb-3">
                    <label for="addOrderExtraFeesToo" class="font-weight-bold mb-1">Extra Fees (PHP)</label>
                    <input type="number" class="form-control" id="addOrderExtraFeesToo" value="0" step="100">
                </div>
            </div>
            <!-- ACTION BUTTONS -->
            <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNextModal()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="addOrder()">Save Changes</button>
            </div>
        </div>
    </div>
</div>

@* <script type="text/javascript">
    $('#addOrderModal').on('shown.bs.modal', function () {
        
    });
</script> *@
