@* FIRSTNAME INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationFName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputRegistrationFName" placeholder="First Name">
</div>
@* MIDDLENAME INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationMName" class="form-label">Middle Name</label>
    <input type="text" class="form-control" id="inputRegistrationMName" placeholder="Middle Name">
</div>
@* LASTNAME INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationLName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputRegistrationLName" placeholder="Last Name">
</div>
@* BUTTON *@
<button type="button" id="btnRegistration" class="btn btn-primary btn-lg mt-4 mb-5 d-flex justify-content-center">
    CONTINUE
</button>