@* EMAIL INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputRegistrationEmail" placeholder="Email">
</div>
@* USERNAME INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="inputRegistrationUsername" placeholder="Username">
</div>
@* PASSWORD INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationPassword" class="form-label text-start">Password</label>
    <input type="password" id="inputRegistrationPassword" class="form-control" placeholder="Password" aria-describedby="passwordHelpBlock">
</div>
@* REPEAT PASSWORD INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationRePassword" class="form-label text-start">Repeat Password</label>
    <input type="password" id="inputRegistrationRePassword" class="form-control" placeholder="Repeat Password" aria-describedby="passwordHelpBlock">
</div>
@* BUTTON *@
<button type="button" id="btnRegistration" class="btn btn-primary btn-lg mt-4 mb-5 d-flex justify-content-center">
    CONTINUE
</button>
