@* LICENSE INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationLicense" class="form-label">Driver's License</label>
    <input type="text" class="form-control" id="inputRegistrationLicense" placeholder="Upload Image">
</div>
@* SECONDARY VALID ID INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationSecondID" class="form-label">Secondary Valid ID</label>
    <input type="text" class="form-control" id="inputRegistrationSecondID" placeholder="Secondary Valid ID">
</div>
@* POB INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationPOB" class="form-label">Proof of Billing</label>
    <input type="text" class="form-control" id="inputRegistrationPOB" placeholder="Proof of Billing">
</div>
@* SELFIE INPUT *@
<div class="mb-3 text-start">
    <label for="inputRegistrationSelfieID" class="form-label">Selfie with ID</label>
    <input type="number" class="form-control" id="inputRegistrationSelfieID" placeholder="Selfie with ID">
</div>
@* BUTTON *@
<button type="submit" id="btnRegistration" class="btn btn-primary btn-lg mt-4 mb-5 d-flex justify-content-center">
    CONTINUE
</button>