/* Card Styles */
.bg-glass-secondary {
    background: rgba(197, 197, 197, 0.05); /* Semi-transparent background color */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the glass effect */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a lifted look */
    color: white; /* Text color for readability */
    display: flex; /* Flexbox for proper layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Space between children */
    height: 100%; /* Ensure the card takes full height */
    padding: 20px; /* Padding inside the element */
}

.cards-table-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 95vh;
    width: 100%;
    position: relative;
}

.card-sl {
    max-height: 600px; /* Adjust as needed */
    padding:8px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex; /* Flexbox for proper layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Space between children */
    height: 100%; /* Ensure the card takes full height */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth animation */
}

.card-sl-listing {
    max-height: 600px; /* Adjust as needed */
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex; /* Flexbox for proper layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Space between children */
    height: 100%; /* Ensure the card takes full height */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth animation */
}

.card-sl:hover {
    transform: translateY(-10px); /* Lift up effect */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19); /* Stronger shadow on hover */
}

.card-heading {
    color: #47b5cf !important;
}

.card-image {
    position: relative;
    width: 100%;
    height: 150px; /* Set a consistent height */
    overflow: hidden;
}

.card-image-listing {
    position: relative;
    width: 100%;
    height: 230px; /* Set a consistent height */
    overflow: hidden;
}

.card-image img {
    height: 150px; /* Set a consistent height */
    width: 100%; /* Ensures the image takes up the full width of the card */
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    border-radius: 8px;
}

.card-image-listing img {
    height: 230px; /* Set a consistent height */
    width: 100%; /* Ensures the image takes up the full width of the card */
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    border-radius: 8px;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-heading-listing {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #47b5cf !important;
}

.card-text {
    margin-bottom: 10px;
}

.card-text-description {
    margin-bottom: 10px;
    height: 140px; /* Set a fixed height */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.1rem; /* Add space between the lines */
}

.listing-description {
    margin-bottom: 10px;
    height: 130px!important; /* Set a fixed height */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.1rem; /* Add space between the lines */
}

.description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-text-description div {
    display: flex;
    justify-content: space-between;
}

.card-text-description .row {
    margin-bottom: 0.1rem;
}

.details-text-description .row {
    margin-bottom: 0.5rem;
}

.card-text-description strong {
    flex-shrink: 0; /* Prevent strong elements from shrinking */
}

.card-button {
    width: 100%;
    margin-top: auto; /* Push the button to the bottom */
}

.card-button:hover {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {
    .card-sl {
        max-width: 100%; /* Ensures the card takes the full width on smaller screens */
    }
}

.preview-close-btn {
    width: 1rem;
    height: 1rem;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 0.75rem;
    line-height: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
}

.img-thumbnail {
    border-width: 0px; /* Make the border thinner */
}

#detailsContainer {
    margin-top: 20px;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    max-height:700px;
}

#tableContent {
    max-height: 700px;
}

#contentContainer {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.car-details-header{
    padding:10px!important;
}

.car-details-body{
    padding:10px!important;

}

.carousel-item img {
    height: 350px; /* Set the desired height */
    border-radius: 8px; /* Rounded corners */
    object-fit: cover; /* Ensures the image covers the entire area */
}

.carousel-item{
    padding: 10px; /* Set the desired height */
    border-radius: 8px; /* Rounded corners */
}

.car-details-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 1rem;
}

.logs {
    height: 100%;
    border-radius: 5px;
    padding: 10px !important;
}

.details-table-container {
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    height:89%;
    width: 100%;
    position: relative;
}

