.status span {
    min-width: 100px;
    height: 23px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}


/*GREEN ONES*/
.status-active span {
    background-color: #a5f6c6;
}

.status-order span {
    background-color: #a5f6c6;
}

.status-paid span {
    background-color: #a5f6c6;
}

.status-ongoing span {
    background-color: #a5f6c6;
}

.status-available span {
    background-color: #a5f6c6;
}
/*ORANGE ONES*/
.status-pending span {
    background-color: #fab86a;
}

.status-rented span {
    background-color: #fab86a;
}

.status-onduty span {
    background-color: #fab86a;
}

.status-maintenance span {
    background-color: #fab86a;
}

.status-partial span {
    background-color: #fab86a;
}


/*RED ONES*/

.status-repair span {
    background-color: #fb7a7a;
}

.status-cancelled span {
    background-color: #fb7a7a;
}

.status-denied span {
    background-color: #fb7a7a;
}

.status-unpaid span {
    background-color: #fb7a7a;
}

.status-oilchange span {
    background-color: #fb7a7a;
    min-width: 150px;
}

.status-oilchange-logs span {
    background-color: #fb7a7a;
}

/*GRAY ONES*/
.status-manual span {
    background-color: darkgray;
}

.status-initial span {
    background-color: darkgray;
}

.status-inactive span {
    background-color: darkgray;
}

.status-delay span {
    background-color: darkgray;
}

.status-done span {
    background-color: darkgray;
}

.status-label {
    color: black;
    font-weight: 500 !important;
}

.status-label-oilchange {
    color: black;
    font-weight: 500 !important;
}
