/*.table thead th:nth-child(1),*/ /* Id column */
/*USERS TABLE*/
@media (max-width: 992px) {
    /*.table tbody td:nth-child(1),*/ /* Id column */
    .table-users thead th:nth-child(4), /* Email column */
    .table-users tbody td:nth-child(4), /* Email column */
    .table-users thead th:nth-child(5), /* Contact column */
    .table-users tbody td:nth-child(5) { /* Contact column */
        display: none;
    }
}

@media (max-width: 768px) {
    .table-users thead th:nth-child(3), /* Date column */
    .table-users tbody td:nth-child(3) { /* Date column */
        display: none;
    }
}



/*DRIVERS TABLE*/
@media (max-width: 992px) {
    /*.table thead th:nth-child(1),*/ /* Id column */
    /*.table tbody td:nth-child(1),*/ /* Id column */
    .table-drivers thead th:nth-child(5), /* Date Modified column */
    .table-drivers tbody td:nth-child(5) { /* Date Modified column */
        display: none;
    }
}

@media (max-width: 768px) {
    .table-drivers thead th:nth-child(1), /* Pic column */
    .table-drivers tbody td:nth-child(1), /* Pic column */
    .table-drivers thead th:nth-child(4), /* Date Created column */
    .table-drivers tbody td:nth-child(4), /* Date Created column */
    .table-drivers thead th:nth-child(2), /* ID column */
    .table-drivers tbody td:nth-child(2) { /* ID column */
        display: none;
    }
}

/*DETAILS TABLE*/

@media (max-width: 1200px) { /*xl*/
    .table-details thead th:nth-child(1), /* ID column */
    .table-details tbody td:nth-child(1) { /* ID column */
        display: none;
    }
}


@media (max-width: 992px) { /*lg*/
    .border-right {
        border-right: none;
    }

    .or-cr {
        margin-top: 20px;
    }

    #modalOR, #modalCR {
        height: 50px !important;
    }
}

@media (max-width: 768px) { /*md*/

}

.img-col {
    width: auto;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.blurred {
    filter: blur(5px);
}

.clear {
    filter: blur(0);
}

.position-relative {
    position: relative;
}

    .position-relative:hover .overlay {
        opacity: 1;
    }

/*
.overlay {
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100;
    transition: opacity 0.3s ease;

}*/
/* Icon square border */
.icon-border {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
}

/*#statusFilter {
    max-width: 140px;
    width: 100%;
}

#searchInput {
    min-width:30px;
    width: 100%;
}*/

.addnew-btn {
    width: 130px !important;
    height: 50px;
    border-radius: 8px 8px 8px 8px;
}

.addlog-btn {
    width: 130px !important;
    height: 40px;
    border-radius: 8px 8px 8px 8px;
}

.title-div {
    padding-left: 0px;
}

.search-filter-form {
    width: 100%;
}

.search-input,
.filter-select {
    min-width: 150px;
    max-width: 250px;
    flex: 1;
}

@media (max-width: 768px) {
    .search-input,
    .filter-select {
        min-width: 100px;
        max-width: none;
    }
}

@media (max-width: 576px) {
    .search-input,
    .filter-select {
        min-width: 80px;
        max-width: none;
    }

    .search-filter-form {
        flex-direction: column;
        align-items: stretch;
    }

    .search-input,
    .filter-select,
    .search-filter-btn {
        width: 100%;
        margin-bottom: 0.5rem;
        margin-right: 0 !important;
    }

    .search-filter-title {
        width: 100% !important;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .search-filter-container {
        margin-top: 8px !important;
    }

    .search-filter-btn {
        margin-bottom: 8px;
        width: 100%
    }

    .addnew-btn {
        margin-bottom: 12px;
        margin-left: 0px;
    }

    .title-div {
        margin-bottom: 10px;
    }
}

.status span {
    min-width: 100px;
    height: 23px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}

.status-pending span {
    background-color: #fab86a;
}

.status-onduty span {
    background-color: #fab86a;
}

.status-maintenance span {
    background-color: #fab86a;
}

.status-repair span {
    background-color: #fb7a7a;
}

.status-manual span {
    background-color: darkgray;
}

.status-active span {
    background-color: #a5f6c6;
}

.status-order span {
    background-color: #a5f6c6;
}

.status-denied span {
    background-color: #fb7a7a;
}

.status-delay span {
    background-color: darkgray;
}

.status-label {
    color: black;
    font-weight: 500 !important;
}

.sortable:hover {
    cursor: pointer;
}

.table-container {
    min-height: 500px;
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
    width: 100%;
}

.table {
    width: 100%;
    margin-bottom: 0px;
    overflow-y: auto;
}

th {
    white-space: nowrap;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5) !important;
    border-bottom-style: solid !important;
}

td {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-responsive {
    justify-content: center;
    min-height: 800px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a lifted look */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the glass effect */
    border-radius: 10px;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.table-responsive-drivers {
    min-height: 800px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a lifted look */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the glass effect */
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.table-responsive-users {
    min-height: 800px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a lifted look */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the glass effect */
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.table-responsive-orders {
    min-height: 800px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a lifted look */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the glass effect */
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.table-responsive-cars {
    padding: 20px;
    justify-content: center;
    min-height: 0px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a lifted look */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the glass effect */
    border-radius: 10px;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.table thead tr th {
    font-size: 17px;
    font-weight: 300;
}

.table > thead > tr > th {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: gray;
    font-weight: 300;
}

.table > tbody > tr > td {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: gray;
    font-weight: 300;
    font-size: 14px;
}

.table .td-actions .btn {
    margin: 0;
    padding: 5px;
}
