<h1 class="maintext">
    Your account has been denied.
</h1>
<h4 class="mt-3 subtext">
    Something is wrong with your application. Please register again.
</h4>
<button class="mt-5 btn btn-lg btn-primary">Register Again</button>