<h1 class="maintext">
    Your account is under review.
</h1>
<h4 class="mt-3 subtext">
    Your profile has been submitted & will be reviewed by our team.
    You will be notified if any extra information is needed.
</h4>
<button class="mt-5 btn btn-danger btn-lg">Logout</button>