<div id="moduleRegistration">
    <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column col-10">
            @* TITLE AND SUBTEXT *@
            <h1 id="maintext">Register</h1>
            <p class="subtext mb-5">Register by completing the information below.</p>
            @* FORM1 *@
            <div id="Form1" class="d-flex flex-column form-container">
                @* EMAIL INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputRegistrationEmail" placeholder="Email">
                </div>
                @* USERNAME INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputRegistrationUsername" placeholder="Username">
                </div>
                @* PASSWORD INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationPassword" class="form-label text-start">Password</label>
                    <input type="password" id="inputRegistrationPassword" class="form-control" placeholder="Password" aria-describedby="passwordHelpBlock">
                </div>
                @* REPEAT PASSWORD INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationRePassword" class="form-label text-start">Repeat Password</label>
                    <input type="password" id="inputRegistrationRePassword" class="form-control" placeholder="Repeat Password" aria-describedby="passwordHelpBlock">
                </div>
                @* BUTTON *@
                <button type="button" id="btnForm1" class="btn btn-primary btn-lg mt-4 mb-5 d-flex justify-content-center">
                    CONTINUE
                </button>
            </div>
            @* FORM2 *@
            <div id="Form2" class="d-flex flex-column form-container">
                @* FIRSTNAME INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationFName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="inputRegistrationFName" placeholder="First Name">
                </div>
                @* MIDDLENAME INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationMName" class="form-label">Middle Name</label>
                    <input type="text" class="form-control" id="inputRegistrationMName" placeholder="Middle Name">
                </div>
                @* LASTNAME INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationLName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="inputRegistrationLName" placeholder="Last Name">
                </div>
                @* BUTTON *@
                <button type="button" id="btnForm2" class="btn btn-primary btn-lg mt-4 mb-5 d-flex justify-content-center">
                    CONTINUE
                </button>
            </div>
            @* FORM3 *@
            <div id="Form3" class="d-flex flex-column form-container">
                @* STREET ADDRESS INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationStreet" class="form-label">Street Address</label>
                    <input type="text" class="form-control" id="inputRegistrationStreet" placeholder="Street Address">
                </div>
                @* CITY INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationCity" class="form-label">Municipality/City</label>
                    <input type="text" class="form-control" id="inputRegistrationCity" placeholder="Municipality/City">
                </div>
                @* PROVINCE INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationProvince" class="form-label">Province</label>
                    <input type="text" class="form-control" id="inputRegistrationProvince" placeholder="Province">
                </div>
                @* CONTACT INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationContact" class="form-label">Contact</label>
                    <input type="text" class="form-control" id="inputRegistrationContact" placeholder="Contact">
                </div>
                @* BUTTON *@
                <button type="button" id="btnForm3" class="btn btn-primary btn-lg mt-4 mb-5 d-flex justify-content-center">
                    CONTINUE
                </button>
            </div>
            @* FORM4 *@
            <div id="Form4" class="d-flex flex-column form-container">
                @* LICENSE INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationLicense" class="form-label">Driver's License</label>
                    <input type="text" class="form-control" id="inputRegistrationLicense" placeholder="Upload Image">
                </div>
                @* SECONDARY VALID ID INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationSecondID" class="form-label">Secondary Valid ID</label>
                    <input type="text" class="form-control" id="inputRegistrationSecondID" placeholder="Secondary Valid ID">
                </div>
                @* POB INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationPOB" class="form-label">Proof of Billing</label>
                    <input type="text" class="form-control" id="inputRegistrationPOB" placeholder="Proof of Billing">
                </div>
                @* SELFIE INPUT *@
                <div class="mb-3 text-start">
                    <label for="inputRegistrationSelfieID" class="form-label">Selfie with ID</label>
                    <input type="number" class="form-control" id="inputRegistrationSelfieID" placeholder="Selfie with ID">
                </div>
                @* BUTTON *@
                <button type="submit" id="btnForm4" class="btn btn-primary btn-lg mt-4 mb-5 d-flex justify-content-center">
                    SUBMIT
                </button>
            </div>

            <p class="subtext">
                By creating account you agree to our
                <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
            </p>
            <p class="subtext mb-5">Already have an account? <a href="#">Sign in</a></p>
            
        </div>
    </div>
</div>