<h3>Dashboard</h3>
<p class="lead">
    Dashboard details
</p>
<ul class="list-unstyled">
    <li><h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile</li>
</ul>