@using RentaRide.Config
@{
    var currentDate = DateTime.Now.ToString("dddd, MMMM dd, yyyy");
}
<div class="container">
    <div class="dashboard-header">
        <h1 class="ms-2 mb-2 text-light">
            Dashboard
        </h1>
        <div class="date-time text-light" id="date-time">
            @currentDate
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8">
            <div class="module-1 bg-dark-secondary">
                @await Html.PartialAsync("~/Views/Admin/TabComponents/Dashboard/Module1.cshtml")

            </div>
        </div>
        <div class="col-xl-4">
            <div class="module-2 bg-dark-secondary p-4" style="border-radius: 10px;">
                @await Html.PartialAsync("~/Views/Admin/TabComponents/Dashboard/Module2.cshtml")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7">
            <div class="module-3 bg-dark-secondary">
                @await Html.PartialAsync("~/Views/Admin/TabComponents/Dashboard/Module3.cshtml")
            </div>
        </div>
        <div class="col-xl-5">
            <div class="module-4 bg-dark-secondary p-4">
                @await Html.PartialAsync("~/Views/Admin/TabComponents/Dashboard/Module4.cshtml")
            </div>
        </div>
    </div>
</div>