@using RentaRide.Utilities
@model RentaRide.Models.ViewModels.AdminPartialViewModel

<div class="w-100 d-flex justify-content-center">
    <div class="row table-responsive table-responsive-cars bg-dark-secondary text-white">
        <div class="row justify-content-between mt-3 mb-3 search-filter-container">
            @* TITLE *@
            <div class="col-md-3 d-flex align-items-center title-div">
                <h1 class="text-light ms-2 search-filter-title">Listings</h1>
            </div>
            @* SEARCH AND FILTER *@
            <div class="col-md-9 d-flex justify-content-end pe-0" id="search-filter-div">
                <form class="d-flex justify-content-end align-items-center rounded-3 search-filter-form" onsubmit="return false;">
                    <input id="searchInput" class="form-control me-2 rounded-3 search-input" type="search" placeholder="Search" aria-label="Search">
                    <select id="statusFilter" class="form-select me-2 filter-select">
                        <option value="" selected>All Statuses</option>
                        <option value="active">Active</option>
                        <option value="onduty">Listed</option>
                        <option value="delay">Unlisted</option>
                    </select>
                    <button id="searchButton" class="btn btn-outline-light rounded-3 search-filter-btn" type="button" onclick="filterTable()">Search</button>
                </form>
            </div>
        </div>
        @* ADD LISTING BUTTON *@
        <div class="row mb-3">
            <div class="col-md-12 d-flex justify-content-end add-item-div" id="add-item-div">
                <button class="btn btn-success rounded-3 addnew-btn" style="min-width:120px; min-height:50px;" type="button" onclick="openModalAddListing()">Add Listing +</button>
            </div>
        </div>
        @* LOADER *@
        <div id="loader" class="d-flex justify-content-center align-items-center d-none" style="height:70vh; margin-bottom:100px;">
            <partial name="_LoadingSimple"></partial>
        </div>
        @* CARS TABLE *@
        <div id="tableContent" class="d-flex justify-content-center cards-table-container">
            <div id="contentContainer" class="w-100">
                @await Html.PartialAsync("~/Views/Admin/TabComponents/Listings/Content.cshtml")
            </div>
        </div>
    </div>
</div>

<div id="modalContainer">
    @await Html.PartialAsync("~/Views/Admin/TabComponents/Listings/Modals.cshtml")
</div>
