<div class="w-100 d-flex justify-content-center">
    <div class="container table-responsive-users bg-dark-secondary text-white p-5">
        <div class="row justify-content-between mb-3">
            @* TITLE *@
            <div class="col-md-3 d-flex align-items-center">
                <h1 class="text-light ms-2">Settings</h1>
            </div>
        </div>
        @* TABLE WRAPPER *@
        <div class="row bg-dark-secondary text-white">
            @* LOADER *@
            <div id="loader" class="d-flex justify-content-center align-items-center d-none" style="height:40vh; margin-bottom:100px;">
                <partial name="_LoadingSimple"></partial>
            </div>
            @* TABLE CONTENT *@
            <div id="tableContent" class="d-flex justify-content-center">
                <partial name="~/Views/Admin/TabComponents/Settings/Content.cshtml"></partial>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Admin/TabComponents/Settings/Modals.cshtml")
