@{
    Layout = "_LandingPageLayout";
}

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        @if (ViewBag.SuccessMessage != null)
        {
            <text>
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: '@ViewBag.SuccessMessage',
                        confirmButtonText: 'OK',
                        background: '#333',
                        color: '#fff',
                        customClass: {
                            popup: 'swal2-dark',
                            title: 'swal2-dark-title',
                            content: 'swal2-dark-content',
                            confirmButton: 'swal2-dark-confirm',
                            cancelButton: 'swal2-dark-cancel'
                        }
                    });
            </text>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: '@ViewBag.ErrorMessage',
                        confirmButtonText: 'OK',
                        background: '#333',
                        color: '#fff',
                        customClass: {
                            popup: 'swal2-dark',
                            title: 'swal2-dark-title',
                            content: 'swal2-dark-content',
                            confirmButton: 'swal2-dark-confirm',
                            cancelButton: 'swal2-dark-cancel'
                        }
                    });
            </text>
        }
                });
    </script>
}

<section class="d-flex justify-content-center bg-dark" id="hero_page">
    <div id="loadingSpinner" class="m-auto">
        <partial name="_LoadingSpinner"></partial>
    @* @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml")  *@
    </div>
    <div class="load-content">
        <div class="row m-auto text-center h-100 align-items-center text-light col-12">
            <div class="col-lg-4 d-flex align-items-center justify-content-center mt-3">
                @await Html.PartialAsync("~/Views/Registration/Components/_RegistrationForm.cshtml"/*, yourViewModel */)
            </div>
            <div class="col-lg-8 d-none d-lg-block mb-5">
                @await Html.PartialAsync("~/Views/Shared/_LandingPageContent.cshtml"/*, yourViewModel */)
                @* <partial name="_LoginPartial"/> *@
            </div>
        </div>
    </div>
</section>