@using RentaRide.Config
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentaRide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin/tables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin/status.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loader/loader.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentaRide.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet" />
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">
                    <img src="~/img/logo/mainandtextlogo.svg" alt="RentaRide Logo" width="200" height="50" class="me-2">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav nav-pills align-items-center">
                        <li class="nav-item me-2">
                            <a class="text-decoration-none nav-link text-light d-flex align-items-center" href="/Contact">
                                <i class="fas fa-bell"></i>
                            </a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="text-decoration-none nav-link text-light d-flex align-items-center" href="/Contact">
                                <i class="fas fa-phone me-2"></i> Contact
                            </a>
                        </li>
                        <li class="nav-item dropdown text-decoration-none">
                            <a class="text-decoration-none nav-link text-light d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" class="rounded-circle me-2" style="width: 24px; height: 24px; object-fit: cover;"> Loser
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end profile-menu" aria-labelledby="profileDropdown">
                                <li><a class="text-decoration-none dropdown-item" href="/Admin/LoadPartial?tabName=Company">View Profile</a></li>
                                <li><a class="text-decoration-none dropdown-item" href="/Admin/LoadPartial?tabName=Settings">Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                @using (Html.BeginForm("Logout", "Login", FormMethod.Post))
                                {
                                    <li><a class="text-decoration-none dropdown-item" href="/Logout">Logout</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
    <div class="container-fluid p-0 vh-100">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/users/users.js" asp-append-version="true"></script>
    <script src="~/js/admin/admin.js" asp-append-version="true"></script>
    <script src="~/js/admin/cars.js" asp-append-version="true"></script>
    <script src="~/js/admin/users.js" asp-append-version="true"></script>
    <script src="~/js/admin/drivers.js" asp-append-version="true"></script>
    <script src="~/js/admin/listing.js" asp-append-version="true"></script>
    <script src="~/js/admin/orders.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>










































@* @using (Html.BeginForm("Logout", "Login", FormMethod.Post))
{
    <li><a class="dropdown-item" type="submit" href="/Logout">Logout</a></li>
} *@